/* media PC */
@media (min-width: 1040px) {
    
}
/* table & mobile */
@media (max-width:1023px) {
    .btn {
        padding: 13px 16px;
    }
    #nav .subnav li a {
        padding:5px 12px;
    }
    .control-input {
        padding: 12px;
    }
    #contact .contact-info {
        line-height: 2;
    }
    .section .socials {
        font-size: 48px;
    }
    .section .socials a {
        margin: 0 8px;;
    }
    .section .taibut a {
        padding: 12px 0;
        display: inline-block
    }
}
/* media Table */
@media (min-width: 740px) and (max-width: 1039px) {
    
}
/* media Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    .mb8 {
        margin-bottom: 8px;
    }
    .mb16 {
        margin-bottom: 16px !important;
    }
    .mb32 {
        margin-bottom: 32px;
    }
    #header {
        overflow: hidden;
    }
    #header .searchicon {
        display: none;
    }
    #slider h2,
    #slider p {
        display: none;
    }
    #header .mobile-menu-btn {
        display: block;
    }#nav {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav li { display: block;
    }
    #nav li a{ 
        padding: 13px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav li a {
        color: #fff;
        padding:5px 0 5px 16px;
    }
    #content .member-img {
        width: 60%;
    }
    

}